/target/
**/target/

output/
**/output/

/.idea/
/.vscode/
/*.code-workspace

.DS_Store
Thumbs.db

*.log

Cargo.lock
**/Cargo.lock

*~
*.swp
*.swo
*.bak

/.rust-analyzer.json
/.rustfmt.toml

**/embedded_config.rs

.env
.env.*
secrets.json
config.toml
**/*.key
**/*.pem

*.exe
*.out
*.bin
*.dll
*.dylib
*.so
*.zip